In [1]:
import duckdb
import polars as pl

In [2]:
# Install and load required extensions
duckdb.sql("INSTALL httpfs")
duckdb.sql("LOAD httpfs")

In [4]:
# Connect to a New York City taxi dataset stored in Parquet format on S3
query = """
SELECT 
    *
FROM read_parquet('s3://ursa-labs-taxi-data/**/*.parquet')
"""

result = duckdb.sql(query)

In [5]:
# Count how many rows are in the result
duckdb.sql("SELECT COUNT(*) FROM result")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│   1547741381 │
└──────────────┘

In [6]:
# Compute the mean trip distance for each passenger count
query = """
SELECT
    MIN(trip_distance) AS min_trip_distance,
    MAX(trip_distance) AS max_trip_distance,
FROM result
GROUP BY passenger_count
ORDER BY passenger_count
"""

result = duckdb.sql(query)
result.show()

RuntimeError: Query interrupted

In [7]:
df = result.pl()